FoundITAppServer/src/main/resources/wsdl/founditappserver.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://soacourse.unsw.edu.au/founditappserver/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:msgdef="http://soacourse.unsw.edu.au/founditappdefinitions"
	name="FoundITAppServer" 
	targetNamespace="http://soacourse.unsw.edu.au/founditappserver/">
  	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://soacourse.unsw.edu.au/founditappdefinitions"
				schemaLocation="../xsd/founditappmessages.xsd" />
		</xsd:schema>
	</wsdl:types>
	
  	<!-- <wsdl:types>
    <xsd:schema targetNamespace="http://soacourse.unsw.edu.au/founditappdefinitions">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types> -->

  <wsdl:message name="FoundITAppRequestMsg">
    <wsdl:part element="msgdef:inputMessage" name="inputreq"/>
  </wsdl:message>
  <wsdl:message name="FoundITAppResponseMsg">
    <wsdl:part element="msgdef:inputMessage" name="inputresp"/>
  </wsdl:message>
	
  <wsdl:portType name="foundITAppPT">
    <wsdl:operation name="check">
      <wsdl:input message="tns:FoundITAppRequestMsg"/>
      <wsdl:output message="tns:FoundITAppResponseMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="FoundITAppSOAPBinding" type="tns:foundITAppPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="check">
      <soap:operation soapAction="http://www.example.org/founditappserver/check"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
	
  <wsdl:service name="FoundITAppServer">
    <wsdl:port binding="tns:FoundITAppSOAPBinding" name="FoundITAppServerSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
