FoundITServiceClient/src/main/resources/xsd/founditappmessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://soacourse.unsw.edu.au/founditappdefinitions"
	xmlns:tns="http://soacourse.unsw.edu.au/founditappdefinitions"
	elementFormDefault="qualified">
	
	<xsd:complexType name="inputType">
		<xsd:sequence>
			<xsd:element name="input" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="inputMessage" type="tns:inputType" />

</xsd:schema>